---
layout: default
---
<div class="container ensure-full-page">
  <div class="row">
    <div class="col-lg-6">
        <div class="test">
          <div class="light-blue-text main-header text-center">
            Precision in Laboratory Medicine
          </div>
          <div class="text-center info-box">
            Prism Pathology is a molecular pathology laboratory committed to offering rapid and accurate diagnostic and prognostic testing to help physicians and patients make precise treatment decisions.
          </div>
        </div>
    </div>

    <div class="col-lg-6">
      <!-- Test Menu & Services Section-->
      <div class="info-1 mt-5">
        <h1 class="active-title dark-blue-text text-center"><i>How We Help</i></h1>

        <div class="col-lg-12">
          <div class="info-box text-center main-info-box">
            Our laboratory offers a wide range of molecular pathology tests for infectious diseases, genetic diseases, hematologic neoplasms and solid tumors with fast turnaround time
          </div>
          <a href="/home/services" class="button-index">
            Test Menu
          </a>
        </div>
      </div>

      <!-- Research Section-->
      <div class="info-2">
        <div class="col-lg-12 same">
          <div class="info-box text-center info-box-research">
            We are committed to helping physicians and organizations develop new testing as companion diagnostics for cutting-edge therapies.
          </div>
          <a href="/home/research" class="button-index">
            Learn More
          </a>
        </div>
      </div>

      <!-- Meet Us Section-->
      <div class="info-3">
        <div class="col-lg-12 same">
          <div class="info-box text-center" id="p-about">
            Meet our professional team of highly qualified pathologists and scientists.
          </div>
          <a href="/home/about" class="button-index">
            Meet Us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
