---
layout: default
---
<div class="container ensure-full-page">
  <div class="row">
    <div class="col-lg-6">
        <div class="test">
          <h1 class="light-blue-text main-header text-center">
            {{ page.welcome_header }}
          </h1>
          <div class="text-center info-box">
            {{ page.welcome_description }}
          </div>
        </div>
    </div>

    <div class="col-lg-6">
      <!-- Test Menu & Services Section-->
      <div class="info-1 mt-5">
        <h2 class="dark-blue-text text-center">
          {{ page.help_header }}
        </h2>

        {% for help in page.help_items %}
          <div class="col-lg-12">
            <div class="info-box text-center main-info-box">
              {{ help.description }}
            </div>

            <a href="{{ help.link_url | relative_url }}" class="button-index">
              {{ help.link_text }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
